body {
  color: #000000;
  background-color: #ffffff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.banner {
  width: 90%;
  max-width: 1000px;
}
.song {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}
.instagram img {
  width: 44px;
}
.instagram img:hover {
  opacity: 0.7;
}
.song, .instagram {
  margin-top: 30px;
}
h1 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.5em;
  margin: 0;
}


/* Mobile phones */
@media only screen
  and (max-device-width: 720px) {
    .banner {
      width: 100%;
    }
    .song {
      width: 80%;
    }
  }


/* Tablets */
@media only screen
  and (min-device-width: 721px)
  and (max-device-width: 1024px) {

  }
