body {
  color: #000000;
  background-color: #ffffff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
}
.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.poster {
  width: 100%;
  max-width: 540px;
  margin-bottom: 20px;
}
.song {
  max-width: 480px;
  margin: 0 auto;
}
.banner {
  width: 100%;
  max-width: 1000px;
  margin-top: 10px;
}
.seveninch {
  width: 90%;
  max-width: 664px;
}
h1 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.8em;
  margin: 0;
  margin-bottom: 30px;
}
p {
  font-style: italic;
  font-size: 1.8em;
}
a {
  font-style: inherit;
  color: inherit;
  text-decoration: none;
}
a:hover {
  opacity: 0.5;
}
.shows {
  display: inline-block;
  text-align: left;
  margin: 0 10px;
}
/* .shows img {
  width: ___;
} */
.social {
  margin: 30px;
}
.social img {
  width: 80px;
  margin: 0 16px;
}

/* Mobile devices */
@media only screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
  .banner {
    width: 100%;
    margin-top: 10px;
  }
  h1 {
    margin: 0 16%;
    font-size: 1.3em;
  }
  p {
    font-size: 1em;
  }
  .social img {
    width: 80px;
  }
}
